# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# MLflow (commented out to deploy model to Streamlit Cloud)
# mlruns/
# mlflow.db
mlflow.db-wal
mlflow.db-shm

# Environment variables
.env
.ENV

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data (keep example, ignore large files)
*.csv.gz
*.parquet

# Streamlit
.streamlit/

# Logs
*.log
logs/
